{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "class-methods-use-this": [0],
    "import/prefer-default-export": [0],
    "linebreak-style": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "react/require-default-props": [0],
    "global-require": [0]
  }
}
