{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "navigator": true
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "import/no-extraneous-dependencies": [0],
    "react/forbid-prop-types": [0]
  }
}
