</div>

<footer class="section footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left has-text-left-tablet">
        <ul class="footer-items">
          <li><a href="https://quang.im/products">Products</a></li>
          <li><a href="https://quang.im/archive">Blog</a></li>
          <li><a href="https://quang.im/contact">Contact</a></li>
        </ul>
      </div>
      <div class="column has-text-left has-text-right-tablet">
        <ul class="footer-items right">
          <li>
            <span>Made with </span>
            <span style="color: #F44336">
              ❤
            </span>
            <span> by </span>
            <a href="https://quang.im">Quang Lam</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<% include ./foot %>
