<% include ./head %>

<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://quang.im">
        Quang Lam
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://quang.im/products">
            Products
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://webcatalog.io">
              WebCatalog
            </a>
            <a class="navbar-item" href="https://translatiumapp.com">
              Translatium
            </a>
            <a class="navbar-item" href="https://quang.im/products">
              & more
            </a>
          </div>
        </div>
        <a class="navbar-item" href="https://quang.im/archive">
          Blog
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/quanglam2807/webcatalog" target="_blank" rel="noopener noreferrer">
          <span class="icon">
            <i class="fa fa-lg fa-github" aria-hidden="true"></i>
          </span>
          <span>&nbsp;View on GitHub</span>
        </a>
      </div>
    </div>
  </div>
</nav>


<div class="main-content">
