html
  head
    title= title
    link(rel='manifest', href='/a/facebook-messenger/manifest.json')
    script(src='/a/facebook-messenger/pwa.js')
  body
    iframe(src='https://messenger.com', style='border: 0; width: 100%; height: 100%') Your browser doesn't support iFrames.