<% include ../partials/header %>

<section class="section apps">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title ">
            My Apps
          </h1>
        </div>
      </div>
    </nav>
    <hr>
    <% if (apps.length < 1) { %>
    <div class="content has-text-centered">
      <h3>You don't have any apps.</h3>
    </div>
    <% } else { %>
    <div class="columns is-multiline">
      <% var appCardClassName = "is-half-tablet is-one-quarter-desktop" %>
      <% apps.forEach(function (app) { %>
      <% include ../partials/app-card %>
      <% }) %>
    </div>
    <nav class="pagination is-centered">
      <% if (currentPage > 1) { %>
      <a class="pagination-previous" href="/me/apps?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>
      <% if (currentPage < totalPage) { %>
      <a class="pagination-next" href="/me/apps?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
      <ul class="pagination-list">
        <% pages.forEach((page) => { %>
        <% if (page > 0) { %>
        <li><a class="pagination-link <% if (page === currentPage) { %>is-current<% } %>" href="/me/apps?page=<%= page %>"><%= page %></a></li>
        <% } else { %>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        <% } %>
        <% }) %>
      </ul>
    </nav>
  </div>
  <% } %>
</section>

<% include ../partials/footer %>
