{{ partial "header.html" . }}
<section class="section">
  <div class="container">
    <div class="content">
      <p class="image is-64x64">
        <img src="/app/{{ .Params.id }}/osx.png" alt="{{ .Title }}">
      </p>
      <h1 class="title">{{ .Title }}</h1>
      <p>{{ .Content }}</p>

      <hr>
    </div>

    <div class="columns">
      <div class="column is-3">
        <nav class="menu">
          <p class="menu-heading">
            Information
          </p>
          {{ if isset .Params "developer" }}
            <span class="menu-block"><span class="menu-icon"><i class="fa fa-code"></i></span>Developer: <strong>{{ .Params.developer }}</strong></span>
          {{ end }}
          {{ if isset .Params "icon_designer" }}
            <span class="menu-block"><span class="menu-icon"><i class="fa fa-paint-brush"></i></span>Icon Designer: <strong>{{ .Params.icon_designer }}</strong></span>
          {{ end }}
        </nav>
      </div>
      <div class="column">
        <div class="tabs is-boxed" id="platforms">
          <ul>
            {{ range first 1 .Params.platforms }}
            {{ $.Scratch.Set "firstTab" . }}
              <li class="is-active" id="platform-{{ . }}"><a>{{ . }}</a></li>
            {{ end }}
            {{ range after 1 .Params.platforms }}
              <li id="platform-{{ . }}"><a>{{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ $firstTab := $.Scratch.Get "firstTab" }}
        <div class="platform-content content{{ if not (eq $firstTab "windows") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-windows">
          <a class="button is-info is-large" href="https://github.com/quanglam2807/webcatalog/releases/download/{{ getenv "TRAVIS_TAG" }}/{{ .Params.id }}-win-ia32.exe">Download (32-bit)</a>
          <a class="button is-info is-large" href="https://github.com/quanglam2807/webcatalog/releases/download/{{ getenv "TRAVIS_TAG" }}/{{ .Params.id }}-win-x64.exe">Download (64-bit)</a>
          <h3>Requirement for <strong>Windows</strong></h3>
          <ul>
            <li>Windows 7 or Server 2008 R2 or higher</li>
          </ul>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "osx") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-osx">
          <a class="button is-info is-large" href="https://github.com/quanglam2807/webcatalog/releases/download/{{ getenv "TRAVIS_TAG" }}/{{ .Params.id }}-osx.dmg">Download</a>

          <h3>Requirement for <strong>OS X</strong></h3>
          <ul>
            <li>OS X 10.8 or higher</li>
            <li>64-bit system</li>
          </ul>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "linux") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-linux">
          <a class="button is-info is-large" href="https://github.com/quanglam2807/webcatalog/releases/download/{{ getenv "TRAVIS_TAG" }}/{{ .Params.id }}-linux-ia32.zip">Download (32-bit)</a>
          <a class="button is-info is-large" href="https://github.com/quanglam2807/webcatalog/releases/download/{{ getenv "TRAVIS_TAG" }}/{{ .Params.id }}-linux-x64.zip">Download (64-bit)</a>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "android") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-android">
          <li>Open this page with <strong>Chrome</strong> on your <strong>Android</strong> device.</li>
          <li>Tap <img class="image is-24x24" src="/img/android-3dots.png" style="display: inline-block"/>, then choose <strong>Add to Home Screen</strong>.</li>
          <li><strong>{{ .Title }}</strong> is installed. Enjoy!</li>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "ios") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-ios">
          <ol>
            <li>Open this page with <strong>Safari</strong> on your <strong>iOS</strong> device (iPhone, iPad, iPod Touch).</li>
            <li>Tap <img class="image is-24x24" src="/img/ios-share.png" style="display: inline-block"/>, then choose <strong>Add to Home Screen</strong> > <strong>Add</strong>.</li>
            <li><strong>{{ .Title }}</strong> is installed. Enjoy!</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
