<% include ../partials/header %>

<section class="section">
  <div class="container">
    <div class="content">
      <h1>WebCatalog Support</h1>
      <hr>
      <h3 class="title is-4">If you need any help, feel free to contact us.</h3>
      <p>
        <a class="button is-medium is-primary" href="mailto:support@getwebcatalog.com">
          <span class="icon"><i class="fa fa-envelope"></i></span>
          <span>Send an Email</span>
        </a>
      </p>
      <p>
        <a class="button is-medium is-dark" href="https://github.com/webcatalog/webcatalog/issues/new" target="_blank" rel="noopener noreferrer">
          <span class="icon"><i class="fa fa-github"></i></span>
          <span>Create New Issue on GitHub</span>
        </a>
      </p>
    </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
