<% include ../partials/header %>

<section class="section">
  <div class="container">
    <div class="content">
      <h1>WebCatalog Support</h1>
      <hr>
      <h4>If you need any help, feel free to contact us.</h4>
      <h3>
        <a href="mailto:support@getwebcatalog.com">
          support@getwebcatalog.com
        </a>
      </h3>
    </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>
