<% include ./partials/header %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Contact
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-5 is-spaced">If you need any help or have any feedback, feel free to contact us.</p>

      <hr />

      <p>You can't find your favorite app in the directory?</p>
      <p><a class="button is-primary" href="https://github.com/webcatalog/webcatalog-apps/issues/new" target="_blank" rel="noopener noreferrer">
        Request An App
      </a></p>

      <hr />

      <p>You'd like to report a bug or tell us about a feature you're looking for?</p>
      <p>
        <a class="button is-primary" href="https://github.com/webcatalog/webcatalog/issues/new" target="_blank" rel="noopener noreferrer">
          Report A Bug
        </a>

        <a class="button is-primary" href="https://github.com/webcatalog/webcatalog/issues/new" target="_blank" rel="noopener noreferrer">
          Create A Feature Request
        </a>
      </p>

      <hr />

      <p>You'd like to contact the developer privately?</p>
      <p><a href="mailto:quang@webcatalog.io">
        quang@webcatalog.io
      </a></p>

      <p><a class="button is-primary" href="mailto:quang@webcatalog.io">
        Send An Email
      </a></p>
    </div>
  </div>
</section>

<% include ./partials/footer %>
