<% include ./partials/header %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Contact
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-5 is-spaced">If you need any help or have any feedback, feel free to contact us.</p>
      <div class="columns">
        <div class="column">
          <span class="icon is-large">
            <i class="fa fa-github fa-3x"></i>
          </span>
          <p class="title is-5 is-spaced">GitHub (recommended)</p>
          <p class="subtitle is-6 is-spaced">Head over to our Github repository to create an issue.</p>

          <a class="button is-primary" href="https://github.com/webcatalog/webcatalog/issues" target="_blank" rel="noopener noreferrer">
            Create An Issue
          </a>
        </div>
        <div class="column content has-text-centered">
          <span class="icon is-large">
            <i class="fa fa-envelope fa-3x"></i>
          </span>
          <p class="title is-5 is-spaced">Email</p>
          <p class="subtitle is-6 is-spaced">
            <span>
              Send an email to
            </span>
            <a href="mailto:quang@webcatalog.io">
              quang@webcatalog.io
            </a>
          </p>

          <a class="button is-primary" href="mailto:quang@webcatalog.io">
            Send An Email
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
