<% include ./partials/head %>
  <section class="hero is-danger error">
    <div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="nav-center">
            <a class="nav-item logo" href="/">
              <img src="/public/images/logo_white.png" />
            </a>
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <span class="icon is-large">
          <i class="fa fa-exclamation-circle"></i>
        </span>
        <h1 class="title">
          <%= errorCode %>
        </h1>
        <h2 class="subtitle">
          <%= errorMessage %>
        </h2>
        <a class="button is-white" href="/">Return Home</a>
      </div>
    </div>
  </section>
</body>
</html>
