<% include ./partials/head %>
<section class="hero is-danger top-nav error">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p>
        <a href="/">
          <img src="/public/images/logo-white.png" class="logo" alt="WebCatalog" />
        </a>
      </p>
      <span class="icon is-large">
        <i class="fa fa-exclamation-circle"></i>
      </span>
      <h1 class="title">
        <%= errorCode %>
      </h1>
      <h2 class="subtitle">
        <%= errorMessage %>
      </h2>
      <a class="button is-white" href="/">Return Home</a>
    </div>
  </div>
</section>
</body>
</html>
