<% include ./partials/header %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Support
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h4>If you need any help, feel free to contact us.</h4>
      <h3>
        <a href="mailto:support@getwebcatalog.com">
          support@getwebcatalog.com
        </a>
      </h3>
    </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
