<% include ./partials/header %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        WebCatalog Help
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-5 is-spaced">If you need any help or have any feedback, feel free to contact us.</p>
      <p class="title is-4 is-spaced">
        <a href="mailto:support@webcatalog.io">
          support@webcatalog.io
        </a>
      </p>
      <p class="title is-6">In addition to sending email, you can also <a href="https://github.com/webcatalog/webcatalog/issues/new" target="_blank" rel="noopener noreferrer">create an issue</a> on <a href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">our GitHub repository</a>.
    </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
