<!DOCTYPE html>
<html>
<head>
  <title><%= token %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="WebCatalog is an app store with thousands of exclusive apps for your Mac and PC.">
  <link rel="shortcut icon" href="/public/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
  <section class="hero is-danger error">
    <div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="nav-center">
            <a class="nav-item logo" href="/">
              <img src="/public/images/logo_white.png" />
            </a>
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <span class="icon is-large">
          <i class="fa fa-user-circle-o"></i>
        </span>
        <h1 class="title">
          Signed In Successfully
        </h1>
        <h2 class="subtitle">
          Plese close this window.
        </h2>
      </div>
    </div>
  </section>
</body>
</html>
