<% include ./partials/header %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Privacy Policy
      </h1>
    </div>
  </div>
</section>

<section class="section apps">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-4">We're working hard to get it ready!</p>
    </div>
  </div>
</section>

<% include ./partials/footer %>
