<% include ./partials/header %>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Meet Our Team
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns">
        <div class="column is-one-quarter is-offset-one-quarter team-member">
          <figure class="image is-128x128">
            <img src="/public/images/quang.jpg">
          </figure>
          <h3>Quang</h3>
          <h6>Founder</h6>

          <a href="mailto:quang@getwebcatalog.com">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/in/quanglam2807/" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fa fa-linkedin"></i>
            </span>
          </a>
        </div>
        <div class="column is-one-quarter team-member">
          <figure class="image is-128x128">
            <img src="/public/images/mark.jpg">
          </figure>
          <h3>Mark</h3>
          <h6>Co-Founder</h6>

          <a href="mailto:mark@getwebcatalog.com">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer %>
