<% include ../partials/header %>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Submit New App
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <form method="post" action="/submit">
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text" placeholder="Name" name="name" required>
        </p>
      </div>
      <div class="field">
        <label class="label">URL</label>
        <p class="control">
          <input class="input" type="text" placeholder="URL" name="url" required>
        </p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </p>
      </div>
    </form>
</section>

<% include ../partials/footer %>
