<% include ../partials/header %>

<section class="section">
  <div class="container">
    <span class="icon is-large">
      <i class="fa fa-check"></i>
    </span>
    <h1 class="title">Your information has been submitted.</h1>
    <h2 class="subtitle">We will proceed as soon as possible and let you know when the app is availble on WebCatalog Store.</h2>

    <a class="button is-large is-info" href="/submit">Submit Another App</a>
</section>

<% include ../partials/footer %>
