@import "./bulma/sass/utilities/initial-variables"
@import "./bulma/sass/utilities/functions"

$blue: #0D47A1
$footer-background-color: #fff
$weight-semibold: 500
$navbar-burger-color: #fff

@import "./bulma/bulma.sass"

body
  min-height: 100vh
  display: flex
  flex-direction: column

main
  flex: 1

.container
  max-width: 960px !important

.footer
  padding: 1.5em

.is-text-link
  text-decoration: underline
  &:hover
    font-weight: 600

.inline-block
  display: inline-block

.screenshot
  max-width: 400px
  width: 100%