<section class="hero is-danger">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Hmm...
      </p>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container">
    <div class="content">
      <div class="content is-medium has-text-centered">
        <h1>404</h1>
        <h3>Page Not Found</h3>
        <a class="button" href="/">
          Go to Home Page
        </a>
      </div>
    </div>
  </div>
</section>
