<section class="hero is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Contact
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-5 is-spaced">If you need any help or have any feedback, feel free to contact us.</p>

      <hr />

      <p>You'd like to report a bug or tell us about a feature you're looking for?</p>
      <p>
        <a class="button is-black" href="https://github.com/secreton/secreton/issues/new" target="_blank" rel="noopener noreferrer">
          Report A Bug
        </a>

        <a class="button is-black" href="https://github.com/secreton/secreton/issues/new" target="_blank" rel="noopener noreferrer">
          Create A Feature Request
        </a>
      </p>

      <hr />

      <p>You'd like to contact the developer privately?</p>
      <p><a href="mailto:quang@secretonapp.com">
        quang@secretonapp.com
      </a></p>

      <p><a class="button is-black" href="mailto:quang@secretonapp.com">
        Send An Email
      </a></p>
    </div>
  </div>
</section>
