<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a href="/" class="footer-item">Downloads</a>
        <a href="/apps" class="footer-item">Apps</a>
        <a href="/help" class="footer-item">Help</a>
        <a href="https://medium.com/webcatalog" target="_blank" rel="noopener noreferrer" class="footer-item">Blog</a>
        <a href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer" class="footer-item">GitHub</a>
      </p>
      <p>
        © 2016 - 2017 WebCatalog.
      </p>
    </div>
  </div>
</footer>

<% include ./foot %>
