</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <ul class="footer-items">
        <li><a href="/">Download</a></li>
        <li><a href="/apps">Apps</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="https://medium.com/webcatalog" target="_blank" rel="noopener noreferrer">Blog</a></li>
        <li><a href="/team">Team</a></li>
        <li>
          <!--
          <a href="https://www.facebook.com/webcatalogapp" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fa fa-facebook-official"></i>
            </span>
          </a>
          <a href="https://twitter.com/webcatalogapp" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
          -->
          <a href="https://github.com/webcatalog" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<% include ./foot %>
