</div>

<footer class="section footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered has-text-left-tablet">
        <ul class="footer-items">
          <li><a href="/">Download</a></li>
          <li><a href="/apps">Catalog</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://medium.com/webcatalog" target="_blank" rel="noopener noreferrer">Blog</a></li>
          <li>
            <a href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="column has-text-centered has-text-right-tablet">
        <ul class="footer-items right">
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms</a></li>
          <li>© <a href="https://madebyquang.com" target="_blank" rel="noopener noreferrer">Quang Lam</a>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<% include ./foot %>
