<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <ul class="footer-items">
        <li><a href="/">Download</a></li>
        <li><a href="/apps">Explore</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="https://medium.com/webcatalog" target="_blank" rel="noopener noreferrer">Blog</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      </ul>
      <p>
        © 2016 - <%= (new Date()).getFullYear() %> <a href="/team">WebCatalog Team</a>.
      </p>
    </div>
  </div>
</footer>

<% include ./foot %>
