<% include ./head %>

<nav class="navbar is-primary">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="/">
      <img src="/public/images/logo-white.png" alt="WebCatalog" />
    </a>
    <a class="navbar-item is-hidden-desktop" href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">
      <span class="icon">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item is-hidden-touch" href="https://github.com/webcatalog/webcatalog" target="_blank" rel="noopener noreferrer">
        <span class="icon">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>
    </div>
  </div>
  </div>
</nav>


<div class="main-content">
