<% include ./head %>

<nav class="navbar is-primary">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="/">
      <img src="/public/images/logo-white.png" alt="WebCatalog" />
    </a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="/directory">
        Directory
      </a>
      <a class="navbar-item" href="https://github.com/quanglam2807/webcatalog" target="_blank" rel="noopener noreferrer" alt="GitHub">
        <span class="icon">
          <i class="fa fa-lg fa-github"></i>
        </span>
      </a>
    </div>
  </div>
  </div>
</nav>


<div class="main-content">
