<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <form action="/apps/search">
        <input class="input search-box" type="text" placeholder="Search Apps..." name="query" value="<%= (locals.searchQuery) ? searchQuery : '' %>">
      </form>
    </div>
  </div>
</section>
