<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <form action="/apps/search">
        <input class="input search-box" type="text" placeholder="Search Apps..." name="query">
      </form>
    </div>
  </div>
</section>
