<!DOCTYPE html>
<html>
  <head>
    <script>
      if (window.navigator.standalone || (window.matchMedia('(display-mode: standalone)').matches)) {
        window.location.replace("{{ .Params.app_url }}");
      }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title | upper }} on WebCatalog: Use any web page natively without even thinking</title>
    <meta name="description" content="Modern Translator is the most powerful translation app on Windows.">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    {{ if in .Params.platforms "ios" }}
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <link sizes="512x512" rel="apple-touch-icon" href="/app/{{ .Params.id }}/ios.png"/>
      <meta name="apple-mobile-web-app-title" content="{{ .Title }}"/>
      {{ if isset .Params "ios_status_bar_style" }}
      <meta name="apple-mobile-web-app-status-bar-style" content="{{ .Params.ios_status_bar_style }}"/>
      {{ end }}
    {{ end }}
    {{ if in .Params.platforms "android" }}
      <meta name="mobile-web-app-capable" content="yes"/>
      <link rel="icon" sizes="512x512" href="/app/{{ .Params.id }}/android.png">
      <meta name="application-name" content="{{ .Title }}">
    {{ end }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.14/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <section class="hero is-info is-bold is-small">
      <div class="hero-header">
        <header class="header">
          <div class="container">
            <div class="header-left">
              <a class="header-item" href="/">
                <h1 class="title">WebCatalog</h1>
              </a>
            </div>
            <span id="header-toggle" class="header-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div id="header-menu" class="header-right header-menu">
              <span class="header-item">
                <a class="is-active" href="/">Submit New App</a>
              </span>

                <span class="header-item">
                  <a class="button is-info is-outlined is-inverted" href="https://github.com/quanglam2807/webcatalog">
                    <i class="fa fa-github"></i>
                    GitHub
                  </a>
                  <a class="button is-info is-outlined is-inverted"
                  data-social-network="Twitter"
                  data-social-action="tweet"
                  data-social-target="http://webcatalog.xyz/"
                  href="https://twitter.com/intent/tweet?text=WebCatalog: Use any web page natively without even thinking&url=https://webcatalog.xyz">
                    <span class="fa fa-twitter"></span>
                    Tweet
                  </a>
                </span>

            </div>
          </div>
        </header>
      </div>

      <div class="hero-content">
        <div class="container">
          <p class="title">
            WebCatalog
          </p>
          <p class="subtitle">
            Use any web page natively without even thinking, across Windows, OS X, Linux, iOS & Android.
          </p>
        </div>
      </div>

      <div class="hero-footer">
        <nav class="tabs is-boxed">
          <div class="container">
            <ul>
              <li class="{{ if not (eq .Title "Categories") }}is-active{{ end }}">
                <a href="/">Apps</a>
              </li>
              <li class="{{ if eq .Title "Categories" }}is-active{{ end }}">
                <a href="/categories">Categories</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
