<% include ../partials/header %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Add New App
      </h1>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text" placeholder="Name" name="name" required <% if(locals.name) {%> value="<%= name %>" <% } %>>
        </p>
      </div>
      <div class="field">
        <label class="label">URL</label>
        <p class="control">
          <input class="input" type="text" placeholder="URL" name="url" required <% if(locals.url) {%> value="<%= url %>" <% } %>>
        </p>
      </div>
      <div class="field">
        <label class="label">Icon</label>
        <p class="control">
          <input class="input" type="file" placeholder="Icon" name="icon" accept=".png" required>
        </p>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <p class="control">
          <span class="select">
            <select name="category" required>
              <% categories.forEach(function (category) { %>
              <option value="<%= category %>"><%= category %></option>
              <% }) %>
            </select>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Wikipedia Title</label>
        <p class="control">
          <input class="input" type="text" placeholder="Wikipedia Title" name="wikipediaTitle">
        </p>
        <p class="help">Leave it blank if Wikipedia title is similar to name.</p>
      </div>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </p>
      </div>
    </form>
</section>

<% include ../partials/footer %>
