@charset "utf-8"

$blue: #1976D2
$green: #388E3C
$orange: #E64A19
$purple: #7B1FA2
$red: #D32F2F
$turquoise: #00796B
$yellow: #FBC02D
$black: #000

$primary: $blue

$navbar-height: 56px

$navbar-dropdown-background: #1565C0
$navbar-dropdown-item-hover-background: #0D47A1

@import "../../../node_modules/bulma/bulma"

html
  background-color: #1976D2

body
  background-color: #fff

.title
  font-weight: 400

.subtitle
  font-weight: 300

.navbar
  .navbar-item
    &.logo
      padding-top: 0
      padding-bottom: 0
      img
        max-height: 48px

.main-content
  width: 100%
  min-height: calc(100vh - 56px)

.footer
  background-color: transparent
  padding-top: 1em
  padding-bottom: 1em
  ul.footer-items
    list-style-type: none
    margin-left: 0
    font-size: 0.9em
    &.right
      +desktop
        float: right
    li
      margin-top: 12px
      line-height: 2em
      +desktop
        float: left
        padding: 0
        margin: 0
        &:not(:last-child)
          margin: 0 36px 0 0

.hero.error
  min-height: 100vh
  .logo
    height: 64px

.intro
  padding-top: 36px
  padding-bottom: 36px
  display: flex
  align-items: center
  justify-content: center
  .hero-body
    flex: 0
    .download-button
      margin-top: 6px
      margin-bottom: 6px
    a:not(.button)
      font-weight: 600
      &:hover
        text-decoration: underline
    .other-platforms
      margin-top: 36px

.screenshot
  width: 100%
  max-width: 800px

a.dropdown-item
  color: #363636 !important
  text-align: left

.image.app-icon
  margin: 0 auto 6px
