@import "./bulma-material"

.hero.error
  min-height: 100vh

.intro
  min-height: calc(100vh - 64px)
  display: flex
  align-items: center
  justify-content: center
  .download-button
    margin-top: 6px
    margin-bottom: 6px
  a:not(.button)
    &:hover
      text-decoration: underline
  .other-platforms
    margin-top: 36px
    a
      font-weight: 600

.section.download
  border-top: 1px solid #dbdbdb
  .content
    color: #fff
  .download-button
    margin-top: 6px
    margin-bottom: 6px

.section.apps
  .card.app
    .image.app-icon
      margin: 0 auto 6px

.section.featured-apps
  .app-icon img
    height: 64px
    width: 64px
  .button.see-more
    margin-top: 16px
    margin-bottom: 16px

.section.app
  .content
    .image.app-icon
      margin: 0 auto
    h1.title
      margin-top: 0.5em
    .button.open
      margin-bottom: 6px

.twitter-share-button-container
  margin-top: 6px

.user-dropdown
  position: absolute
  top: 56px
  right: 16px
  min-width: 180px
  padding: 0
  z-index: 1000
  display: none
  &.is-active
    display: block
  .nav-item
    border-bottom: 1px solid #dbdbdb
    padding: 0.5rem 0.75em
    a
      color: #7a7a7a !important

.auth
  +tablet
    min-height: 100vh
    width: 100vw
    padding: 12px 0
    display: flex
    align-items: center
    justify-content: center
  hr
    margin-top: 0.5em
  .box
    box-shadow: $paper_1
    +mobile
      box-shadow: none
    +tablet
      width: 320px
    .logo img
      height: 56px
  .button
    width: 260px
    &.google-button
      background-color: #dd4b39
    &.facebook-button
      background-color: #3b5998
    &.twitter-button
      background-color: #1da1f2
  .control
    width: 260px
    margin: 0 auto
  .notification
    width: 260px
    margin: 0 auto 1em auto
  [type="submit"].button
    margin-bottom: 1em


.category
  text-transform: capitalize

.screenshot
  max-width: 640px
  @media screen and (max-width: 640px)
    max-width: 100%

.search-box
  background: rgba(255, 255, 255, 0.2)
  border: none
  font-size: 16px
  height: 42px
  color: #fff !important
  text-align: center
  color: #fff
  &::placeholder
    color: rgba(255, 255, 255, 0.6)

.verify-email
  padding: 12px 0
  a:hover
    text-decoration: underline
