<div class="column is-half">
  <div class="card app-card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="/app/{{ .Params.id }}/osx.64.png" alt="{{ .Title }}">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-5"><a href="/app/{{ .Params.id }}">{{ .Title }}</a></p>
          <p class="subtitle is-6">
            Available on
            {{ range .Params.platforms }}
              <a href="/platforms/{{ . | urlize }}">{{ . }}</a> |
            {{ end }}
          </p>
        </div>
      </div>

      <div class="content">
        {{ slicestr .RawContent 0 120 }}...
      </div>
    </div>
  </div>
</div>
