{{ partial "header.html" . }}
{{ partial "search-box.html" . }}
<section class="section">
  <div class="container">
    <div class="content">
      <p class="image is-64x64">
        <img src="/app/{{ .Params.id }}/osx.png" alt="{{ .Title }}">
      </p>
      <h1 class="title">{{ .Title }}</h1>
      <p>{{ .Content }}</p>

      <hr>
    </div>

    <div class="columns">
      <div class="column is-3">
        <nav class="menu">
          <p class="menu-heading">
            Information
          </p>
          {{ if isset .Params "developer" }}
            <span class="menu-block"><span class="menu-icon"><i class="fa fa-code"></i></span>Developer: <strong>{{ .Params.developer }}</strong></span>
          {{ end }}
          <span class="menu-block"><span class="menu-icon"><i class="fa fa-folder"></i></span>Categories: <strong>{{ delimit .Params.categories ", " }}</strong></span>
          {{ if isset .Params "icon_designer" }}
            <span class="menu-block"><span class="menu-icon"><i class="fa fa-paint-brush"></i></span>Icon Designer: <strong>{{ .Params.icon_designer }}</strong></span>
          {{ end }}
        </nav>
      </div>
      <div class="column">
        <div class="tabs is-boxed" id="platforms">
          <ul>
            {{ range first 1 .Params.platforms }}
            {{ $.Scratch.Set "firstTab" . }}
              <li class="is-active" id="platform-{{ . }}"><a>{{ . }}</a></li>
            {{ end }}
            {{ range after 1 .Params.platforms }}
              <li id="platform-{{ . }}"><a>{{ . }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ $firstTab := $.Scratch.Get "firstTab" }}
        <div class="platform-content content{{ if not (eq $firstTab "windows") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-windows">
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-win-ia32.exe/download">Download (32-bit)</a></p>
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-win-x64.exe/download">Download (64-bit)</a></p>
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-win-ia32-portable.zip/download">Download (portable, 32-bit)</a></p>
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-win-x64-portable.zip/download">Download (portable, 64-bit)</a></p>
          <p><strong>Current Version: </strong>{{ getenv "BUILD_VERSION" }}</p>

          <h3>Requirement for <strong>Windows</strong></h3>
          <ul>
            <li>Windows 7 or Server 2008 R2 or higher</li>
          </ul>

          <h3>How to install</h3>
          <ol>
            <li>Download the 32-bit installer file (<strong>{{ .Params.id }}-win-ia32.dmg</strong>) if you're running 32-bit system or you don't know what type of system you're running. Download the 64-bit installer file (<strong>{{ .Params.id }}-win-x64.dmg</strong>) if you are running 64-bit system.</li>
            <li>Open the file you downloaded.</li>
            <li>Drag and drop the icon of the app you wanted to install to the Application icon.
            <li>Open <strong>Launchpad</strong> and start <strong>{{ .Title }}</strong>.</li>
          </ol>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "osx") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-osx">
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-osx.dmg/download">Download</a></p>
          <p><strong>Current Version: </strong>{{ getenv "BUILD_VERSION" }}</p>

          <h3>Requirement for <strong>OS X</strong></h3>
          <ul>
            <li>OS X 10.8 or higher</li>
            <li>64-bit system</li>
            <li><a href="https://support.apple.com/en-us/HT202491">GateKeeper</a> disabled</li>
          </ul>

          <h3>How to install</h3>
          <ol>
            <li>Make sure you have disabled <a href="https://support.apple.com/en-us/HT202491">GateKeeper</a>. If not, click the <i class="fa fa-apple"></i> icon at the top-left corner of your screen, choose <strong>System Preferences...</strong>,  click the <strong>Security & Privacy</strong> icon, then click the lock icon (if it is locked), enter your password, and set the <strong>Allow apps downloaded from</strong> option to <strong>Anywhere</strong>.
            <li>Download the .DMG installer file (<strong>{{ .Params.id }}-osx.dmg</strong>).</li>
            <li>Open the file you downloaded.</li>
            <li>Drag and drop the icon of the app you wanted to install to the Application icon.
            <li>Open <strong>Launchpad</strong> and start <strong>{{ .Title }}</strong>.</li>
          </ol>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "linux") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-linux">
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-linux-ia32.zip/download">Download (32-bit)</a></p>
          <p><a class="button is-info is-large" href="https://sourceforge.net/projects/webcatalog-r/files/{{ getenv "BUILD_VERSION" }}/{{ .Params.id }}-linux-x64.zip/download">Download (64-bit)</a></p>
          <p><strong>Current Version: </strong>{{ getenv "BUILD_VERSION" }}</p>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "android") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-android">
          <li>Open this page with <strong>Chrome</strong> on your <strong>Android</strong> device.</li>
          <li>Tap <img class="image is-24x24" src="/img/android-3dots.png" style="display: inline-block"/>, then choose <strong>Add to Home Screen</strong>.</li>
          <li><strong>{{ .Title }}</strong> is installed. Enjoy!</li>
        </div>
        <div class="platform-content content{{ if not (eq $firstTab "ios") }} is-hidden-mobile is-hidden-tablet{{ end }}" id="content-ios">
          <ol>
            <li>Open this page with <strong>Safari</strong> on your <strong>iOS</strong> device (iPhone, iPad, iPod Touch).</li>
            <li>Tap <img class="image is-24x24" src="/img/ios-share.png" style="display: inline-block"/>, then choose <strong>Add to Home Screen</strong> > <strong>Add</strong>.</li>
            <li><strong>{{ .Title }}</strong> is installed. Enjoy!</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
