<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Release Notes
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <%- partial("_release-notes") %>
    </div>
  </div>
</section>
