<section class="hero is-info">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Support
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <h3 class="title is-4">If you need any help, feel free to contact us.</h3>
        <p>
          <a class="button is-large is-danger" href="mailto:support@getwebcatalog.com">
            <span class="icon"><i class="fa fa-life-ring"></i></span>
            <span>Contact Support</span>
          </a>
        </p>
        <p>
          <a href="mailto:support@getwebcatalog.com">mail to support@getwebcatalog.com</a>
          or <a href="https://github.com/webcatalog/desktop/issues/new" target="_blank" rel="noopener noreferrer">create a new issue  on GitHub</a>.</a>
        </p>
      </div>
      <%- partial("_support") %>
    </div>
  </div>
</section>
