<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>All Apps - WebCatalog Backend</title>
  <meta name="author" content="Quang Lam">
</head>
<body>
  <h1>WebCatalog Apps:</h1>
  <ul>
    <% for (var i=0; i < apps.length; i++) { %>
     <li><a href="<%= apps[i].url %>" target="_blank" rel="noopener noreferrer"><%= apps[i].name %></a></li>
    <% } %>
  </ul>
</body>
</html>
