<% include ./partials/head %>

<section class="hero is-primary is-fullheight">
  <div class="hero-head" style="padding: 0 1.5rem;">
    <div class="container">
      <a href="/">
        <img src="/public/images/logo-white.png" alt="WebCatalog" style="height: 56px" />
      </a>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        We're working to re-build WebCatalog from scratch!
      </h1>
      <h2 class="subtitle is-4">
        Interested? <a href="https://goo.gl/forms/JEqAPuoldO0PdDD42" class="has-text-weight-semibold">Fill out our form.</a>
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <div class="footer">
      <div class="container">
        <p>Are you looking for <a href="/9" class="has-text-weight-bold">older versions?</a></p>
      </div>
    </div>
  </div>
</section>
