<% include ./partials/header %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Release Notes
      </h1>
    </div>
  </div>
</section>

<section class="section apps">
  <div class="container">
    <div class="content">
      <%- releaseNotes %>
    </div>
  </div>
</section>

<% include ./partials/footer %>
