{{ partial "header.html" . }}
{{ partial "search-box.html" . }}

<section class="section">
  <div class="container">
    <h1 class="title">{{ .Title | lower }}</h1>
    <div class="columns is-multiline">
      {{ range .Paginator.Pages }}
         {{ .Render "card"}}
      {{ end }}
    </div>
    <p class="is-text-centered">
      <a class="button is-primary is-outlined {{ if not .Paginator.HasPrev }}is-disabled{{ end }}" href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ end }}">Prev</a>
      {{ range .Paginator.Pagers }}
        <a class="button is-primary is-outlined" href="{{ .URL }}">{{ .PageNumber }}</a>
      {{ end }}
      <a class="button is-primary is-outlined {{ if not .Paginator.HasNext }}is-disabled{{ end }}" href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ end }}">Next</a>
    </p>
  </div>
</section>

{{ template "_internal/pagination.html" . }}

{{ partial "footer.html" . }}
