<% include ../partials/head %>

<div class="auth">
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered">
          <a class="logo" href="/">
            <img src="/public/images/logo.png" alt="WebCatalog" />
          </a>

          <hr>

          <% if (locals.loginErr) { %>
          <div class="notification is-danger">
            <%= loginErr %>
          </div>
          <% } %>

          <form method="post">
            <p class="control">
              <input class="input" type="email" required placeholder="Email" name="email" value="<% if (locals.email) { %><%= email %><% } %>">
            </p>

            <p class="control">
              <input class="input" type="password" pattern=".{6,}" title="Password must have at least 6 characters" required placeholder="Password" name="password">
            </p>

            <p class="control">
              <button class="button" type="submit">
                Sign in
              </button>
            </p>
          </form>

          <p class="content is-small">
            Don't have an account? <a href="/auth/sign-up">Join for free</a>
          </p>

          <p class="content is-small">
            <a href="/auth/reset-password">Forgot password?</a>
          </p>

          <hr>

          <a href="/auth/google">
            <div class="google-button">
            </div>
          </a>
        </div>
      </div>
    </article>
  </div>
</div>

<% include ../partials/foot %>
