<% include ../partials/head %>

<div class="auth">
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered">
          <a class="logo" href="/">
            <img src="/public/images/logo.png" alt="WebCatalog" />
          </a>

          <hr>

          <p class="control">
            <input class="input" type="text" placeholder="Email">
          </p>

          <p class="control">
            <input class="input" type="text" placeholder="Password">
          </p>

          <p>
            <button class="button" type="submit">
              <span>Sign in</span>
            </button>
          </p>

          <p class="content is-small">
            Don't have an account? <a href="/auth/signup">Join for free</a>
          </p>

          <p class="content is-small">
            <a href="/auth/resetpassword">Forgot password?</a>
          </p>

          <hr>

          <p>
            <a class="button is-danger oauth-button google-button" href="/auth/google">
              <span class="icon">
                <i class="fa fa-google"></i>
              </span>
              <span>Sign in with Google</span>
            </a>
          </p>

          <p>
            <a class="button is-info oauth-button facebook-button" href="/auth/facebook">
              <span class="icon">
                <i class="fa fa-facebook-official"></i>
              </span>
              <span>Sign in with Facebook</span>
            </a>
          </p>

          <p>
            <a class="button is-info oauth-button twitter-button" href="/auth/twitter">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Sign in with Twitter</span>
            </a>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

<% include ../partials/foot %>
