<% include ../partials/head %>

<div class="auth">
  <div class="auth-inner">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered">
          <a class="logo" href="/">
            <img src="/public/images/logo.png" alt="WebCatalog" />
          </a>

          <hr>

          <p class="content">
            <%= infoMessage %>
          </p>

          <a class="button is-primary" href="/">Return Home</a>

        </div>
      </div>
    </article>
  </div>
</div>

<% include ../partials/foot %>
