<% include ../partials/head %>

<div class="auth">
  <div class="auth-inner">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered">
          <a class="logo" href="/">
            <img src="/public/images/logo.png" alt="WebCatalog" />
          </a>

          <hr>

          <p class="content">
            To reset your password, enter your email below and click "Reset Password". We'll email you with instructions on resetting your password.
          </p>

          <% if (locals.emailError) { %>
          <div class="notification is-danger">
            <%= emailError %>
          </div>
          <% } %>

          <form method="post">
            <p class="control">
              <input class="input" type="email" required placeholder="Email" name="email" value="<% if (locals.email) { %><%= email %><% } %>">
            </p>

            <p>
              <button class="button" type="submit">
                Reset Password
              </button>
            </p>
          </form>

        </div>
      </div>
    </article>
  </div>
</div>

<% include ../partials/footer %>
