<% include ../partials/head %>

<div class="auth">
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered">
          <a class="logo" href="/">
            <img src="/public/images/logo.png" alt="WebCatalog" />
          </a>

          <hr>

          <% if (locals.emailError) { %>
          <div class="notification is-danger">
            <%= emailError %>
          </div>
          <% } %>

          <form method="post">
            <p class="control">
              <input class="input" type="email" required placeholder="Email" name="email" value="<% if (locals.email) { %><%= email %><% } %>">
            </p>

            <p class="control">
              <input class="input" type="password" pattern=".{6,}" title="Password must have at least 6 characters" required placeholder="Password" name="password">
            </p>

            <p>
              <button class="button" type="submit">
                <span>Create My Account</span>
              </button>
            </p>
          </form>

          <p class="content is-small">
            Have an account? <a href="/auth">Sign in</a>
          </p>

          <hr>

          <p>
            <a class="button is-danger oauth-button google-button" href="/auth/google">
              <span class="icon">
                <i class="fa fa-google"></i>
              </span>
              <span>Sign up with Google</span>
            </a>
          </p>

          <p>
            <a class="button is-info oauth-button facebook-button" href="/auth/facebook">
              <span class="icon">
                <i class="fa fa-facebook-official"></i>
              </span>
              <span>Sign up with Facebook</span>
            </a>
          </p>

          <p>
            <a class="button is-info oauth-button twitter-button" href="/auth/twitter">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Sign up with Twitter</span>
            </a>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

<% include ../partials/foot %>
