name: Linux (arm64)

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - master
      - next
    paths-ignore:
      - 'catalog/**'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TEMPLATE_ARCH: arm64

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: false
    - name: Install Snapcraft
      uses: samuelmeuli/action-snapcraft@v1
      with:
        snapcraft_token: ${{ secrets.SNAP_TOKEN }}
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache yarn cache
      uses: actions/cache@v2
      id: cache-yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    # https://github.com/mui-org/material-ui/issues/12432
    - run: yarn install --prefer-offline --network-timeout 600000 --ignore-platform
    - run: yarn lint
    - name: Get tag name
      run: echo CI_BUILD_TAG=${GITHUB_REF/refs\/tags\//} >> $GITHUB_ENV
      if: startsWith(github.ref, 'refs/tags/')
    - run: yarn dist
      env:
        CI: true
        CI_PULL_REQUEST: ${{ github.event_name == 'pull_request' }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        REACT_APP_LICENSE_SECRET: ${{ secrets.REACT_APP_LICENSE_SECRET }}
        REACT_APP_LICENSE_SECRET_SINGLEBOX_LEGACY: ${{ secrets.REACT_APP_LICENSE_SECRET_SINGLEBOX_LEGACY }}
        REACT_APP_AMPLITUDE_API_KEY: ${{ secrets.REACT_APP_AMPLITUDE_API_KEY }}
        REACT_APP_SWIFTYPE_HOST_ID: ${{ secrets.REACT_APP_SWIFTYPE_HOST_ID }}
        REACT_APP_SWIFTYPE_SEARCH_KEY: ${{ secrets.REACT_APP_SWIFTYPE_SEARCH_KEY }}
        REACT_APP_SWIFTYPE_ENGINE_NAME: ${{ secrets.REACT_APP_SWIFTYPE_ENGINE_NAME }}
        ELECTRON_APP_SENTRY_DSN: ${{ secrets.ELECTRON_APP_SENTRY_DSN }}
      if: startsWith(github.ref, 'refs/tags/')
    - name: Create Sentry Release
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        curl -sL https://sentry.io/get-cli/ | bash
        VERSION=$(node -p -e "require('./package.json').version")
        sentry-cli releases new $VERSION
        sentry-cli releases set-commits --auto $VERSION
        sentry-cli releases finalize $VERSION
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}